@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Antonio&family=League+Spartan:wght@400;700&display=swap");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  /* font-family: "Antonio";
  font-family: "Spartan"; */
}

body {
  min-height: 100vh;
  width: 100vw;
  background-color: #070724;
  background-image: url("/assets/background-stars.svg");
  background-repeat: no-repeat;
  background-size: 300%;
  background-position: center;
  position: relative;
}

@layer utilities {
  .font-antonio {
    font-family: "Antonio";
  }
  .font-spartan {
    font-family: "Spartan";
  }
  .background-animation {
    animation: float 15s linear infinite;
  }

  @keyframes float {
    0% {
      background-position: 0px;
      background-position: 0px;
    }
    25% {
      background-position: 5%;
      background-position: -5%;
    }
    50% {
      background-position: 0%;
      background-position: -10%;
    }
    75% {
      background-position: -10%;
      background-position: -10%;
    }
    100% {
      background-position: 0px;
      background-position: 0px;
    }
  }
  .planet-enter-animation {
    animation: left 1.5s;
  }

  @keyframes left {
    0% {
      opacity: 0;
      transform: translate(-400px);
    }

    100% {
      opacity: 1;
      transform: translate(0);
    }
  }

  .geology-enter-animation {
    animation: from-top 1.5s;
  }

  @keyframes from-top {
    0% {
      opacity: 1;
      transform: translateY(-60%);
    }

    100% {
      opacity: 1;
      transform: translateY(9%);
    }
  }
  .structure-enter-animation {
    animation: right 1.5s;
  }

  @keyframes right {
    0% {
      opacity: 0;
      transform: translateX(50px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
